NODE-RED/MQTT-NodeRED-InfluxDB-Grafana-Blynk(todos).json
[
    {
        "id": "520df7f3.1751d8",
        "type": "tab",
        "label": "BME280 - relojes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1446af57.e7be01",
        "type": "tab",
        "label": "BME280 - INFLUXDB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d79c8c48.af057",
        "type": "tab",
        "label": "BME280 - borrado datos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93d12c93.2a1a7",
        "type": "tab",
        "label": "BME280 - Selección datos",
        "disabled": false,
        "info": ""
    },
    {
        "id": "447197b5.9d5fd8",
        "type": "tab",
        "label": "BME280 - Comprobación",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3ea0064.4a87",
        "type": "tab",
        "label": "DS18B20",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1040751.739d28",
        "type": "tab",
        "label": "Graficas",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bed7d98f.b3b3a8",
        "type": "tab",
        "label": "Envío Blynk",
        "disabled": false,
        "info": ""
    },
    {
        "id": "283dc50f.75c2aa",
        "type": "influxdb",
        "z": "",
        "hostname": "DIRECCION_IP_SERVIDOR",
        "port": "8086",
        "database": "mydb",
        "name": "InfluxDB",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "e4eb2426.5f2e98",
        "type": "mqtt-broker",
        "z": "",
        "name": "BME280",
        "broker": "DIRECCION_IP_SERVIDOR",
        "port": "1883",
        "clientid": "Monitoring Casa",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "96db18c.6d002e8",
        "type": "ui_group",
        "z": "",
        "name": "DS18B20",
        "tab": "ca8eb44e.461f88",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "ca8eb44e.461f88",
        "type": "ui_tab",
        "z": "",
        "name": "Habitación",
        "icon": "fa-bicycle",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "13fc032a.37259d",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#6a6a6a",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#000000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#6a6a6a",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Monitoring Casa",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ed2fe33c.404b8",
        "type": "ui_group",
        "z": "",
        "name": "BME280",
        "tab": "cde41969.73baf8",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "cde41969.73baf8",
        "type": "ui_tab",
        "z": "",
        "name": "Cocina",
        "icon": "fa-thermometer-three-quarters",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "819450d3.5ead7",
        "type": "ui_link",
        "z": "",
        "name": "Node-Red",
        "link": "http://DIRECCION_IP_SERVIDOR:1880/",
        "icon": "fa-chrome",
        "target": "newtab",
        "order": 1
    },
    {
        "id": "825f9f70.e6fd6",
        "type": "blynk-ws-client",
        "z": "",
        "name": "Casa",
        "path": "ws://blynk-cloud.com/websockets",
        "key": "Auth_Token_BLYNK",
        "dbg_all": false,
        "dbg_read": false,
        "dbg_write": false,
        "dbg_notify": false,
        "dbg_mail": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_bridge": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "proxy_type": "no",
        "proxy_url": "",
        "enabled": true
    },
    {
        "id": "adb04155.14fec",
        "type": "ui_tab",
        "z": "",
        "name": "Graficas",
        "icon": "fa-area-chart",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "25ab803e.2dfd3",
        "type": "ui_group",
        "z": "",
        "name": "Grafica",
        "tab": "adb04155.14fec",
        "order": 2,
        "disp": true,
        "width": "25",
        "collapse": false
    },
    {
        "id": "9836d2a.f4f593",
        "type": "ui_group",
        "z": "",
        "name": "Hora",
        "tab": "adb04155.14fec",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "38630df9.0dda32",
        "type": "mqtt in",
        "z": "520df7f3.1751d8",
        "name": "Temperatura",
        "topic": "BME280/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "28ab7e7.6012882"
            ]
        ]
    },
    {
        "id": "3707478.5ece6b8",
        "type": "mqtt in",
        "z": "520df7f3.1751d8",
        "name": "Presión",
        "topic": "BME280/presion",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "440b8f77.6a37a"
            ]
        ]
    },
    {
        "id": "4467ade3.fbfe14",
        "type": "mqtt in",
        "z": "520df7f3.1751d8",
        "name": "Humedad",
        "topic": "BME280/humedad",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 280,
        "y": 420,
        "wires": [
            [
                "e61d3541.523fc8"
            ]
        ]
    },
    {
        "id": "28ab7e7.6012882",
        "type": "ui_gauge",
        "z": "520df7f3.1751d8",
        "name": "",
        "group": "ed2fe33c.404b8",
        "order": 3,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Temperatura (ºC)",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#0080ff",
            "#00cc33",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "22",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "440b8f77.6a37a",
        "type": "ui_gauge",
        "z": "520df7f3.1751d8",
        "name": "",
        "group": "ed2fe33c.404b8",
        "order": 36,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Presión Atm. (hPa)",
        "label": "hPa",
        "format": "{{value}}",
        "min": "900",
        "max": "980",
        "colors": [
            "#0080ff",
            "#00cc33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "e61d3541.523fc8",
        "type": "ui_gauge",
        "z": "520df7f3.1751d8",
        "name": "",
        "group": "ed2fe33c.404b8",
        "order": 25,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Humedad (%)",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0080ff",
            "#00cc33",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "50",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "14a9f35c.edb5fd",
        "type": "ui_gauge",
        "z": "520df7f3.1751d8",
        "name": "",
        "group": "ed2fe33c.404b8",
        "order": 14,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Temperatura (ºF)",
        "label": "ºF",
        "format": "{{value}}",
        "min": "20",
        "max": "125",
        "colors": [
            "#0080ff",
            "#00cc33",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "d0715a10.cfde08",
        "type": "mqtt in",
        "z": "520df7f3.1751d8",
        "name": "Altitud",
        "topic": "BME280/Altitud",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "de955f04.5f983"
            ]
        ]
    },
    {
        "id": "de955f04.5f983",
        "type": "ui_gauge",
        "z": "520df7f3.1751d8",
        "name": "",
        "group": "ed2fe33c.404b8",
        "order": 47,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Altitud (m)",
        "label": "m",
        "format": "{{value}}",
        "min": "0",
        "max": "1000",
        "colors": [
            "#0080ff",
            "#00cc33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "109353a2.322a2c",
        "type": "ui_text",
        "z": "520df7f3.1751d8",
        "group": "ed2fe33c.404b8",
        "order": 1,
        "width": "7",
        "height": "1",
        "name": "Fecha y Hora",
        "label": "Fecha y Hora:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "7250ec7a.23ca34",
        "type": "moment",
        "z": "520df7f3.1751d8",
        "name": "Fecha y Hora",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Madrid",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD/MM/YYYY HH:mm:ss",
        "locale": "es_ES",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "109353a2.322a2c"
            ]
        ]
    },
    {
        "id": "b53c2af5.5845d8",
        "type": "inject",
        "z": "520df7f3.1751d8",
        "name": "Reloj",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "7250ec7a.23ca34"
            ]
        ]
    },
    {
        "id": "191bd0c6.95cc5f",
        "type": "mqtt in",
        "z": "1446af57.e7be01",
        "name": "Temperatura",
        "topic": "BME280/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "4249faf0.d2f6e4"
            ]
        ]
    },
    {
        "id": "c82c7b8b.19d8e8",
        "type": "mqtt in",
        "z": "1446af57.e7be01",
        "name": "Presión",
        "topic": "BME280/presion",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "41834cc0.404964"
            ]
        ]
    },
    {
        "id": "1ad4c398.ab2c1c",
        "type": "mqtt in",
        "z": "1446af57.e7be01",
        "name": "Humedad",
        "topic": "BME280/humedad",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "67c4df7c.a4b53"
            ]
        ]
    },
    {
        "id": "fdc4eb3f.f133a8",
        "type": "mqtt in",
        "z": "1446af57.e7be01",
        "name": "Altitud",
        "topic": "BME280/Altitud",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "cdb2472a.07ba18"
            ]
        ]
    },
    {
        "id": "79e6af40.e6c7d",
        "type": "influxdb out",
        "z": "1446af57.e7be01",
        "influxdb": "283dc50f.75c2aa",
        "name": "envio temperatura",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "x": 888,
        "y": 25,
        "wires": []
    },
    {
        "id": "e45e9a85.2596b8",
        "type": "debug",
        "z": "1446af57.e7be01",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "b03de0df.2e437",
        "type": "influxdb out",
        "z": "1446af57.e7be01",
        "influxdb": "283dc50f.75c2aa",
        "name": "envio temperatura ºF",
        "measurement": "temperatureF",
        "precision": "",
        "retentionPolicy": "",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "b8a15d79.7506c",
        "type": "debug",
        "z": "1446af57.e7be01",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "a7d47620.0bbef8",
        "type": "influxdb out",
        "z": "1446af57.e7be01",
        "influxdb": "283dc50f.75c2aa",
        "name": "envio Presión",
        "measurement": "pressure",
        "precision": "",
        "retentionPolicy": "",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "95cb446c.757938",
        "type": "debug",
        "z": "1446af57.e7be01",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "8dfe0bdf.e0afb8",
        "type": "influxdb out",
        "z": "1446af57.e7be01",
        "influxdb": "283dc50f.75c2aa",
        "name": "envio Humedad",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "11b27905.3a2287",
        "type": "debug",
        "z": "1446af57.e7be01",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "c4a2b6b4.dd6258",
        "type": "influxdb out",
        "z": "1446af57.e7be01",
        "influxdb": "283dc50f.75c2aa",
        "name": "envio Altitud",
        "measurement": "altitude",
        "precision": "",
        "retentionPolicy": "",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "2a5b7ef9.fbaa62",
        "type": "debug",
        "z": "1446af57.e7be01",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "faf28324.6caab",
        "type": "influxdb in",
        "z": "d79c8c48.af057",
        "influxdb": "283dc50f.75c2aa",
        "name": "Borrado Temperatura",
        "query": "drop measurement temperature;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "9a2f45d6.237478"
            ]
        ]
    },
    {
        "id": "8a032f4f.506a2",
        "type": "inject",
        "z": "d79c8c48.af057",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 267.99998474121094,
        "y": 216,
        "wires": [
            [
                "faf28324.6caab",
                "b899f7b4.225d98",
                "129502aa.e3a27d",
                "ed8bc091.6ef8a",
                "ee21326b.3f42b"
            ]
        ]
    },
    {
        "id": "9a2f45d6.237478",
        "type": "debug",
        "z": "d79c8c48.af057",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "b899f7b4.225d98",
        "type": "influxdb in",
        "z": "d79c8c48.af057",
        "influxdb": "283dc50f.75c2aa",
        "name": "Borrado Temperatura ºF",
        "query": "drop measurement temperatureF;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "9a2f45d6.237478"
            ]
        ]
    },
    {
        "id": "129502aa.e3a27d",
        "type": "influxdb in",
        "z": "d79c8c48.af057",
        "influxdb": "283dc50f.75c2aa",
        "name": "Borrado Presión ",
        "query": "drop measurement pressure;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "9a2f45d6.237478"
            ]
        ]
    },
    {
        "id": "ed8bc091.6ef8a",
        "type": "influxdb in",
        "z": "d79c8c48.af057",
        "influxdb": "283dc50f.75c2aa",
        "name": "Borrado Humedad",
        "query": "drop measurement humidity;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "9a2f45d6.237478"
            ]
        ]
    },
    {
        "id": "ee21326b.3f42b",
        "type": "influxdb in",
        "z": "d79c8c48.af057",
        "influxdb": "283dc50f.75c2aa",
        "name": "Borrado altitud",
        "query": "drop measurement altitude;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 540,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "50489fb4.96879",
        "type": "influxdb in",
        "z": "93d12c93.2a1a7",
        "influxdb": "283dc50f.75c2aa",
        "name": "select * from temperature",
        "query": "select sensor from temperature;",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "ddc11097.d5bbf"
            ]
        ]
    },
    {
        "id": "c6507a9a.1e67f8",
        "type": "inject",
        "z": "93d12c93.2a1a7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "50489fb4.96879"
            ]
        ]
    },
    {
        "id": "ddc11097.d5bbf",
        "type": "debug",
        "z": "93d12c93.2a1a7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "877b5b3a.4cfe38",
        "type": "influxdb in",
        "z": "93d12c93.2a1a7",
        "influxdb": "283dc50f.75c2aa",
        "name": "select * from temperature ºF",
        "query": "select sensor from temperatureF;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "ddc11097.d5bbf"
            ]
        ]
    },
    {
        "id": "f52c3b5f.378ed8",
        "type": "inject",
        "z": "93d12c93.2a1a7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "877b5b3a.4cfe38"
            ]
        ]
    },
    {
        "id": "a2b3e112.ae25f",
        "type": "influxdb in",
        "z": "93d12c93.2a1a7",
        "influxdb": "283dc50f.75c2aa",
        "name": "select * from Humedad",
        "query": "select sensor from humidity;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "ddc11097.d5bbf"
            ]
        ]
    },
    {
        "id": "1e580ec5.9a8d31",
        "type": "inject",
        "z": "93d12c93.2a1a7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "a2b3e112.ae25f"
            ]
        ]
    },
    {
        "id": "1e4a5667.f6484a",
        "type": "influxdb in",
        "z": "93d12c93.2a1a7",
        "influxdb": "283dc50f.75c2aa",
        "name": "select * from Presión",
        "query": "select sensor from pressure;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "ddc11097.d5bbf"
            ]
        ]
    },
    {
        "id": "9da7d761.4d7a08",
        "type": "inject",
        "z": "93d12c93.2a1a7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "1e4a5667.f6484a"
            ]
        ]
    },
    {
        "id": "a199057e.ab7db8",
        "type": "influxdb in",
        "z": "93d12c93.2a1a7",
        "influxdb": "283dc50f.75c2aa",
        "name": "select * from Altitud",
        "query": "select sensor from altitude;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "ddc11097.d5bbf"
            ]
        ]
    },
    {
        "id": "4913bad7.dcddc4",
        "type": "inject",
        "z": "93d12c93.2a1a7",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "a199057e.ab7db8"
            ]
        ]
    },
    {
        "id": "e56a624.fef0da",
        "type": "mqtt in",
        "z": "447197b5.9d5fd8",
        "name": "Temperatura",
        "topic": "BME280/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "ec265140.38e3a"
            ]
        ]
    },
    {
        "id": "cacfeb02.072f18",
        "type": "mqtt in",
        "z": "447197b5.9d5fd8",
        "name": "Presión",
        "topic": "BME280/presion",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "8c4f21cd.986b9"
            ]
        ]
    },
    {
        "id": "86fb1885.3d7498",
        "type": "mqtt in",
        "z": "447197b5.9d5fd8",
        "name": "Humedad",
        "topic": "BME280/humedad",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "b6ef9bad.56c6c8"
            ]
        ]
    },
    {
        "id": "ec265140.38e3a",
        "type": "debug",
        "z": "447197b5.9d5fd8",
        "name": "Temperatura",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "8c4f21cd.986b9",
        "type": "debug",
        "z": "447197b5.9d5fd8",
        "name": "Presión",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "b6ef9bad.56c6c8",
        "type": "debug",
        "z": "447197b5.9d5fd8",
        "name": "Humedad",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "79177877.2f4a38",
        "type": "debug",
        "z": "447197b5.9d5fd8",
        "name": "Temperatura ºF",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "d318ad60.e3852",
        "type": "mqtt in",
        "z": "447197b5.9d5fd8",
        "name": "Altitud",
        "topic": "BME280/Altitud",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "702d5b73.524454"
            ]
        ]
    },
    {
        "id": "702d5b73.524454",
        "type": "debug",
        "z": "447197b5.9d5fd8",
        "name": "Altutud",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "59f4b52a.a4deac",
        "type": "mqtt in",
        "z": "1446af57.e7be01",
        "name": "Temperatura F",
        "topic": "BME280/temperaturaF",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "c0d45c66.43764"
            ]
        ]
    },
    {
        "id": "9b16fabc.8e9638",
        "type": "mqtt in",
        "z": "447197b5.9d5fd8",
        "name": "Temperatura F",
        "topic": "BME280/temperaturaF",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "79177877.2f4a38"
            ]
        ]
    },
    {
        "id": "c3677ddd.38152",
        "type": "mqtt in",
        "z": "520df7f3.1751d8",
        "name": "Temperatura F",
        "topic": "BME280/temperaturaF",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "14a9f35c.edb5fd"
            ]
        ]
    },
    {
        "id": "be82dee2.be549",
        "type": "influxdb out",
        "z": "a3ea0064.4a87",
        "influxdb": "283dc50f.75c2aa",
        "name": "envio temperatura",
        "measurement": "ds18b20",
        "precision": "",
        "retentionPolicy": "",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "d6205c0a.12524",
        "type": "debug",
        "z": "a3ea0064.4a87",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "720ccc35.eae8a4",
        "type": "influxdb in",
        "z": "a3ea0064.4a87",
        "influxdb": "283dc50f.75c2aa",
        "name": "select * from ds18b20",
        "query": "select ds18b20 from ds18b20;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "5a6470d6.27fe6"
            ]
        ]
    },
    {
        "id": "42a995cd.c8065c",
        "type": "inject",
        "z": "a3ea0064.4a87",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "720ccc35.eae8a4"
            ]
        ]
    },
    {
        "id": "5a6470d6.27fe6",
        "type": "debug",
        "z": "a3ea0064.4a87",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "f70a9bdf.97dac8",
        "type": "mqtt in",
        "z": "a3ea0064.4a87",
        "name": "DS18B20",
        "topic": "temp/DS18B20",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "681d5200.91d95",
                "ea059e02.55539"
            ]
        ]
    },
    {
        "id": "43aeaf35.35fba",
        "type": "influxdb in",
        "z": "a3ea0064.4a87",
        "influxdb": "283dc50f.75c2aa",
        "name": "drop measurements",
        "query": "drop measurement ds18b20;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "x": 512,
        "y": 140.55560302734375,
        "wires": [
            [
                "837f0fb2.44103"
            ]
        ]
    },
    {
        "id": "18324aea.f08a55",
        "type": "inject",
        "z": "a3ea0064.4a87",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 219.99998474121094,
        "y": 196.55560302734375,
        "wires": [
            [
                "43aeaf35.35fba",
                "28e001a3.47544e"
            ]
        ]
    },
    {
        "id": "837f0fb2.44103",
        "type": "debug",
        "z": "a3ea0064.4a87",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "46d987bb.e24538",
        "type": "function",
        "z": "a3ea0064.4a87",
        "name": "print datetime",
        "func": "var d = new Date();\n\nmsg = { payload:Date() } ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 618.826416015625,
        "y": 217.607666015625,
        "wires": [
            [
                "bf01e0f5.8f129"
            ]
        ]
    },
    {
        "id": "bf01e0f5.8f129",
        "type": "debug",
        "z": "a3ea0064.4a87",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "28e001a3.47544e",
        "type": "trigger",
        "z": "a3ea0064.4a87",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "name": "",
        "x": 442.82623291015625,
        "y": 220.11114501953125,
        "wires": [
            [
                "46d987bb.e24538"
            ]
        ]
    },
    {
        "id": "681d5200.91d95",
        "type": "ui_gauge",
        "z": "a3ea0064.4a87",
        "name": "DS18B20",
        "group": "96db18c.6d002e8",
        "order": 3,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Habitación",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#0080ff",
            "#00cc33",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "22",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "2fd575aa.d42e7a",
        "type": "ui_text",
        "z": "a3ea0064.4a87",
        "group": "96db18c.6d002e8",
        "order": 1,
        "width": "7",
        "height": "1",
        "name": "Fecha y Hora",
        "label": "Fecha y Hora:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 740,
        "y": 60,
        "wires": []
    },
    {
        "id": "f86508d4.044be8",
        "type": "moment",
        "z": "a3ea0064.4a87",
        "name": "Fecha y Hora",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Madrid",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD/MM/YYYY HH:mm:ss",
        "locale": "es_ES",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 520,
        "y": 60,
        "wires": [
            [
                "2fd575aa.d42e7a"
            ]
        ]
    },
    {
        "id": "292949fe.099576",
        "type": "inject",
        "z": "a3ea0064.4a87",
        "name": "Reloj",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "f86508d4.044be8"
            ]
        ]
    },
    {
        "id": "ea059e02.55539",
        "type": "moment",
        "z": "a3ea0064.4a87",
        "name": "Hora",
        "topic": "hora",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Madrid",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "es_ES",
        "output": "date",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 450,
        "y": 500,
        "wires": [
            [
                "dacdf701.aa0518",
                "c7bdd435.91f9d8"
            ]
        ]
    },
    {
        "id": "dacdf701.aa0518",
        "type": "function",
        "z": "a3ea0064.4a87",
        "name": "DS18B20",
        "func": "if \n    (\n        (msg.date >= '00:00:00' && msg.date <= '00:01:59')||\n\n        (msg.date >= '06:00:00' && msg.date <= '06:01:59')|| \n\n        (msg.date >= '12:00:00' && msg.date <= '12:01:59')||\n\n        (msg.date >= '18:00:00' && msg.date <= '18:01:59')\n\n    )\n\n    {\n        var ds18b20 =  (msg.payload);\n        msg.payload = [{\n        ds18b20: parseFloat(ds18b20),\n        tipo:\"DS18B20 habitacion\",\n    }];\n        return msg;\n     }",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 460,
        "wires": [
            [
                "be82dee2.be549",
                "d6205c0a.12524"
            ]
        ]
    },
    {
        "id": "4249faf0.d2f6e4",
        "type": "moment",
        "z": "1446af57.e7be01",
        "name": "Hora",
        "topic": "hora",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Madrid",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "es_ES",
        "output": "date",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "b19ffa01.17cf08"
            ]
        ]
    },
    {
        "id": "b19ffa01.17cf08",
        "type": "function",
        "z": "1446af57.e7be01",
        "name": "Temperatura",
        "func": "if \n    (\n        (msg.date >= '00:00:00' && msg.date <= '00:01:59')||\n\n        (msg.date >= '06:00:00' && msg.date <= '06:01:59')|| \n\n        (msg.date >= '12:00:00' && msg.date <= '12:01:59')||\n\n        (msg.date >= '18:00:00' && msg.date <= '18:01:59')\n\n    )\n\n    {\n        var temperature =  (msg.payload);\n        msg.payload = [{\n        sensor: parseFloat(temperature),\n        tipo:\"BME280 habitacion\",\n    }];\n        return msg;  \n     }",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "79e6af40.e6c7d",
                "e45e9a85.2596b8"
            ]
        ]
    },
    {
        "id": "c0d45c66.43764",
        "type": "moment",
        "z": "1446af57.e7be01",
        "name": "Hora",
        "topic": "hora",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Madrid",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "es_ES",
        "output": "date",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "c3af7b66.061ba8"
            ]
        ]
    },
    {
        "id": "c3af7b66.061ba8",
        "type": "function",
        "z": "1446af57.e7be01",
        "name": "Temperatura ºF",
        "func": "if \n    (\n        (msg.date >= '00:00:00' && msg.date <= '00:01:59')||\n\n        (msg.date >= '06:00:00' && msg.date <= '06:01:59')|| \n\n        (msg.date >= '12:00:00' && msg.date <= '12:01:59')||\n\n        (msg.date >= '18:00:00' && msg.date <= '18:01:59')\n\n    )\n{\n        var temperatureF =  (msg.payload);\n        msg.payload = [{\n        sensor: parseFloat(temperatureF),\n        tipo:\"BME280 habitacion\",\n    }];\n        return msg;\n     }",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 140,
        "wires": [
            [
                "b03de0df.2e437",
                "b8a15d79.7506c"
            ]
        ]
    },
    {
        "id": "41834cc0.404964",
        "type": "moment",
        "z": "1446af57.e7be01",
        "name": "Hora",
        "topic": "hora",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Madrid",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "es_ES",
        "output": "date",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "9b67123e.571"
            ]
        ]
    },
    {
        "id": "9b67123e.571",
        "type": "function",
        "z": "1446af57.e7be01",
        "name": "Presión",
        "func": "if \n    (\n        (msg.date >= '00:00:00' && msg.date <= '00:01:59')||\n\n        (msg.date >= '06:00:00' && msg.date <= '06:01:59')|| \n\n        (msg.date >= '12:00:00' && msg.date <= '12:01:59')||\n\n        (msg.date >= '18:00:00' && msg.date <= '18:01:59')\n\n    )\n\n     {\n        var pressure =  (msg.payload);\n        msg.payload = [{\n        sensor: parseFloat(pressure),\n        tipo:\"BME280 habitacion\",\n    }];\n        return msg;\n     }",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "a7d47620.0bbef8",
                "95cb446c.757938"
            ]
        ]
    },
    {
        "id": "67c4df7c.a4b53",
        "type": "moment",
        "z": "1446af57.e7be01",
        "name": "Hora",
        "topic": "hora",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Madrid",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "es_ES",
        "output": "date",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "ed436b7c.77c368"
            ]
        ]
    },
    {
        "id": "ed436b7c.77c368",
        "type": "function",
        "z": "1446af57.e7be01",
        "name": "Humedad",
        "func": "if \n    (\n        (msg.date >= '00:00:00' && msg.date <= '00:01:59')||\n\n        (msg.date >= '06:00:00' && msg.date <= '06:01:59')|| \n\n        (msg.date >= '12:00:00' && msg.date <= '12:01:59')||\n\n        (msg.date >= '18:00:00' && msg.date <= '18:01:59')\n\n    )\n\n    {\n        var humidity =  (msg.payload);\n        msg.payload = [{\n        sensor: parseFloat(humidity),\n        tipo:\"BME280 habitacion\",\n    }];\n        return msg;\n     }",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 340,
        "wires": [
            [
                "8dfe0bdf.e0afb8",
                "11b27905.3a2287"
            ]
        ]
    },
    {
        "id": "cdb2472a.07ba18",
        "type": "moment",
        "z": "1446af57.e7be01",
        "name": "Hora",
        "topic": "hora",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Madrid",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm:ss",
        "locale": "es_ES",
        "output": "date",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "b07631d5.a574d"
            ]
        ]
    },
    {
        "id": "b07631d5.a574d",
        "type": "function",
        "z": "1446af57.e7be01",
        "name": "Altitud",
        "func": "if \n    (\n        (msg.date >= '00:00:00' && msg.date <= '00:01:59')||\n\n        (msg.date >= '06:00:00' && msg.date <= '06:01:59')|| \n\n        (msg.date >= '12:00:00' && msg.date <= '12:01:59')||\n\n        (msg.date >= '18:00:00' && msg.date <= '18:01:59')\n\n    )\n\n        {\n        var altitude =  (msg.payload);\n        msg.payload = [{\n        sensor: parseFloat(altitude),\n        tipo:\"BME280 habitacion\",\n    }];\n        return msg;\n     }",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "c4a2b6b4.dd6258",
                "2a5b7ef9.fbaa62"
            ]
        ]
    },
    {
        "id": "50736560.961c5c",
        "type": "mqtt in",
        "z": "bed7d98f.b3b3a8",
        "name": "DS18B20",
        "topic": "temp/DS18B20",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "28e55d3c.fc0932"
            ]
        ]
    },
    {
        "id": "28e55d3c.fc0932",
        "type": "blynk-ws-out-write",
        "z": "bed7d98f.b3b3a8",
        "name": "DS18B20",
        "pin": "1",
        "pinmode": 0,
        "client": "825f9f70.e6fd6",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "77ff6a2f.059444",
        "type": "mqtt in",
        "z": "bed7d98f.b3b3a8",
        "name": "Temperatura",
        "topic": "BME280/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "5cbecbd3.140dc4"
            ]
        ]
    },
    {
        "id": "d2e9eae9.e81638",
        "type": "mqtt in",
        "z": "bed7d98f.b3b3a8",
        "name": "Presión",
        "topic": "BME280/presion",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "2a84ea41.f61d86"
            ]
        ]
    },
    {
        "id": "d03138ea.7fa3e8",
        "type": "mqtt in",
        "z": "bed7d98f.b3b3a8",
        "name": "Humedad",
        "topic": "BME280/humedad",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "36050878.c48b98"
            ]
        ]
    },
    {
        "id": "10068826.acb068",
        "type": "mqtt in",
        "z": "bed7d98f.b3b3a8",
        "name": "Altitud",
        "topic": "BME280/Altitud",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "5f0b9c26.82ae14"
            ]
        ]
    },
    {
        "id": "df0f843e.919a48",
        "type": "mqtt in",
        "z": "bed7d98f.b3b3a8",
        "name": "Temperatura F",
        "topic": "BME280/temperaturaF",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 280,
        "y": 340,
        "wires": [
            [
                "b3c64236.a8bb2"
            ]
        ]
    },
    {
        "id": "5cbecbd3.140dc4",
        "type": "blynk-ws-out-write",
        "z": "bed7d98f.b3b3a8",
        "name": "Temperatura",
        "pin": "2",
        "pinmode": 0,
        "client": "825f9f70.e6fd6",
        "x": 570,
        "y": 280,
        "wires": []
    },
    {
        "id": "2a84ea41.f61d86",
        "type": "blynk-ws-out-write",
        "z": "bed7d98f.b3b3a8",
        "name": "Presión",
        "pin": "4",
        "pinmode": 0,
        "client": "825f9f70.e6fd6",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "36050878.c48b98",
        "type": "blynk-ws-out-write",
        "z": "bed7d98f.b3b3a8",
        "name": "Humedad",
        "pin": "5",
        "pinmode": 0,
        "client": "825f9f70.e6fd6",
        "x": 580,
        "y": 460,
        "wires": []
    },
    {
        "id": "b3c64236.a8bb2",
        "type": "blynk-ws-out-write",
        "z": "bed7d98f.b3b3a8",
        "name": "Temperatura F",
        "pin": "3",
        "pinmode": 0,
        "client": "825f9f70.e6fd6",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "5f0b9c26.82ae14",
        "type": "blynk-ws-out-write",
        "z": "bed7d98f.b3b3a8",
        "name": "Altitud",
        "pin": "6",
        "pinmode": 0,
        "client": "825f9f70.e6fd6",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "c7bdd435.91f9d8",
        "type": "debug",
        "z": "a3ea0064.4a87",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 720,
        "y": 620,
        "wires": []
    },
    {
        "id": "bd5e5134.365e4",
        "type": "mqtt in",
        "z": "b1040751.739d28",
        "name": "Temperatura",
        "topic": "BME280/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "3085fc93.b8a064"
            ]
        ]
    },
    {
        "id": "ca3a45e9.3cdfb8",
        "type": "mqtt in",
        "z": "b1040751.739d28",
        "name": "Presión",
        "topic": "BME280/presion",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "6558f5c4.ea4c3c"
            ]
        ]
    },
    {
        "id": "6e412232.dbd9ac",
        "type": "mqtt in",
        "z": "b1040751.739d28",
        "name": "Humedad",
        "topic": "BME280/humedad",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 260,
        "y": 500,
        "wires": [
            [
                "1d0a3282.3883cd"
            ]
        ]
    },
    {
        "id": "fbfc5ba9.ad6bb8",
        "type": "mqtt in",
        "z": "b1040751.739d28",
        "name": "Altitud",
        "topic": "BME280/Altitud",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "736d3c44.81bea4"
            ]
        ]
    },
    {
        "id": "2f86648d.27cb1c",
        "type": "ui_text",
        "z": "b1040751.739d28",
        "group": "9836d2a.f4f593",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "Fecha y Hora",
        "label": "Fecha y Hora:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "8b53186d.7daf08",
        "type": "moment",
        "z": "b1040751.739d28",
        "name": "Fecha y Hora",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Madrid",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD/MM/YYYY HH:mm:ss",
        "locale": "es_ES",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "2f86648d.27cb1c"
            ]
        ]
    },
    {
        "id": "be4cce35.75746",
        "type": "inject",
        "z": "b1040751.739d28",
        "name": "Reloj",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 60,
        "wires": [
            [
                "8b53186d.7daf08"
            ]
        ]
    },
    {
        "id": "64008aa2.da8c24",
        "type": "mqtt in",
        "z": "b1040751.739d28",
        "name": "Temperatura F",
        "topic": "BME280/temperaturaF",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 280,
        "y": 340,
        "wires": [
            [
                "38f82e8f.20dfa2"
            ]
        ]
    },
    {
        "id": "1f3e619b.efe8be",
        "type": "mqtt in",
        "z": "b1040751.739d28",
        "name": "DS18B20",
        "topic": "temp/DS18B20",
        "qos": "2",
        "datatype": "auto",
        "broker": "e4eb2426.5f2e98",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "3085fc93.b8a064"
            ]
        ]
    },
    {
        "id": "3085fc93.b8a064",
        "type": "ui_chart",
        "z": "b1040751.739d28",
        "name": "Comparativa ºC",
        "group": "25ab803e.2dfd3",
        "order": 1,
        "width": "25",
        "height": "5",
        "label": "Comparativa ºC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Sin registro",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 640,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "38f82e8f.20dfa2",
        "type": "ui_chart",
        "z": "b1040751.739d28",
        "name": "",
        "group": "25ab803e.2dfd3",
        "order": 2,
        "width": "25",
        "height": "5",
        "label": "ºF",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 630,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6558f5c4.ea4c3c",
        "type": "ui_chart",
        "z": "b1040751.739d28",
        "name": "",
        "group": "25ab803e.2dfd3",
        "order": 3,
        "width": "25",
        "height": "5",
        "label": "Presión",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 640,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "1d0a3282.3883cd",
        "type": "ui_chart",
        "z": "b1040751.739d28",
        "name": "",
        "group": "25ab803e.2dfd3",
        "order": 5,
        "width": "25",
        "height": "5",
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 640,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "736d3c44.81bea4",
        "type": "ui_chart",
        "z": "b1040751.739d28",
        "name": "",
        "group": "25ab803e.2dfd3",
        "order": 4,
        "width": "25",
        "height": "5",
        "label": "Altitud",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 630,
        "y": 580,
        "wires": [
            []
        ]
    }
]